/* ===============================
   AAPKA RESULT PRO – ADVANCED UI
================================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI',sans-serif;
  background:linear-gradient(135deg,#f1f5f9,#e2e8f0);
  color:#1e293b;
}

/* HEADER */
header{
  background:linear-gradient(135deg,#070505,#fd0116,#6b3131,#680c0c);
  color:#fcfbfb;
  padding:40px 10px;
  text-align:center;
  box-shadow:0 8px 25px rgba(0,0,0,0.3);
}

header h1{
  font-size:40px;
  letter-spacing:1px;
  font-weight:700;
}

header p{
  opacity:0.9;
  font-size:16px;
}

/* NAVBAR */
.menu{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:15px;
  background:rgba(255,255,255,0.8);
  backdrop-filter:blur(15px);
  position:sticky;
  top:0;
  z-index:999;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  flex-wrap:wrap;
}

.menu a{
  text-decoration:none;
  font-weight:600;
  color:#1e293b;
  transition:0.3s;
  position:relative;
}

.menu a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-5px;
  width:0%;
  height:3px;
  background:#2563eb;
  transition:0.3s;
}

.menu a:hover::after{
  width:100%;
}

.menu a:hover{
  color:#2563eb;
}

/* MOBILE BUTTON */
.mobile-bar{
  display:none;
  padding:12px;
  background:#0f172a;
  color:white;
}

.menu-btn{
  cursor:pointer;
}

/* MOBILE RESPONSIVE */
@media(max-width:768px){
  .menu{
    display:none;
    flex-direction:column;
    align-items:center;
  }

  .menu.show{
    display:flex;
  }

  .mobile-bar{
    display:block;
  }
}

/* LIVE LINE */
.live-line{
  background:linear-gradient(90deg,#2563eb,#000000);
  color:white;
  padding:10px;
  text-align:center;
  font-weight:600;
  margin-top: 15px;
  border-radius: 18px;
}

/* CONTAINER */
.main-container{
  max-width:1200px;
  margin:20px auto;
  padding:0 10px;
}

/* IMPORTANT LINKS */
.important-links{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  margin-bottom:20px;
  margin-top:20px;
}

.link-box{
  background:rgb(236, 163, 4);
  padding:20px;
  border-radius:15px;
  text-align:center;
  font-weight:600;
  color:#020202;
  text-decoration:none;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
  transition:0.4s;
}

.link-box:hover{
  background:linear-gradient(135deg,#666250,#2b2f3b);
  color:white;
  transform:translateY(-2px);
}

/* JOB CARDS */
.job-cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
  margin-bottom:40px;
}

.job-card{
  background:linear-gradient(135deg,#201010,#e706a4);
  padding:20px;
  border-radius:18px;
  text-align:center;
  font-weight:600;
  color:#eaedf3;
  text-decoration:none;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  transition:0.4s;
}

.job-card:hover{
  background:linear-gradient(135deg,#2563eb,#38bdf8);
  color:white;
  transform:translateY(-8px) scale(1.02);
}

/* GRID SECTIONS */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
  margin-bottom:20px;
}

.box{
  background:rgb(174, 175, 152);
  padding:25px;
  border-radius:20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.1);
  transition:0.4s;
}

.box:hover{
  background:linear-gradient(135deg,#afb49d,#aeb89f);
  color:rgb(12, 11, 11);
  transform:translateY(-8px) scale(1.02);
}

.box h2{
  text-align:center;
  margin-bottom:15px;
  font-size:18px;
  color:#000000;
}

.box ul{
  list-style:none;
}

.box ul li{
  margin:8px 0;
}

.box ul li a{
  text-decoration:none;
  color:#020202;
  font-weight:600;   /* 🔥 ye line add karo */
  font-size:15px;    /* optional */
  transition:0.3s;
}

.box ul li a:hover{
  color:#f00a0a;
  padding-left:5px;
}

/* DOTS  ke liye hai  */

.box ul{
  list-style:none;
  padding-left:0;
}

.box ul li{
  position:relative;
  padding-left:18px;
  margin:8px 0;
}

.box ul li::before{
  content:"";
  width:6px;
  height:6px;
  background:#000000;
  border-radius:50%;
  position:absolute;
  left:0;
  top:8px;
}


/* VIEW MORE BUTTON */
.view-more{
  text-align:center;
  margin-top:15px;
}

.view-more a{
  display:inline-block;
  padding:8px 18px;
  background:linear-gradient(135deg,#2563eb,#1e3a8a);
  color:white;
  border-radius:25px;
  text-decoration:none;
  font-size:14px;
  font-weight:600;
  transition:0.3s;
}

.view-more a:hover{
  transform:translateY(-3px);
  box-shadow:0 8px 20px rgba(37,99,235,0.4);
}

/* ABOUT US  MORE BUTTON */
.about-more{
  text-align:center;
  margin-top:0.2px;
  margin-bottom:15px;
}

.about-more a{
  display:inline-block;
  padding:18px 100px;
  background:linear-gradient(135deg,#f10386,#030303);
  color:white;
  border-radius:15px;
  text-decoration:none;
  font-size:24px;
  font-weight:700;
  transition:0.3s;
}

.about-more a:hover{
  transform:translateY(0px);
  box-shadow:0 8px 20px rgba(24, 26, 29, 0.4);
}


/* FOOTER */
.site-footer{
  background:#060708;
  color:rgb(250, 239, 239);
  text-align:center;
}

.footer-links a{
  color:#10a0dd;
  margin:0 8px;
  text-decoration:none;
}

.footer-links a:hover{
  text-decoration:underline;
}

/* ===============================
   JOB DETAIL PAGE – PROFESSIONAL dekhne ke liye 
=================================*/

/* TOP SECTION */
.job-top-content{
  max-width:1000px;
  margin:40px auto 20px auto;
  padding:25px;
  background:white;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.job-title{
  font-size:28px;
  font-weight:700;
  color:#0f172a;
  margin-bottom:10px;
}

.post-date{
  font-size:14px;
  color:#64748b;
  margin-bottom:15px;
}

.job-desc{
  font-size:15px;
  line-height:1.7;
  color:#334155;
}

/* DETAIL CONTAINER */
.job-detail-container{
  max-width:1000px;
  margin:30px auto;
  padding:25px;
  background:white;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* GRID BOXES */
.job-detail-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}

@media(max-width:768px){
  .job-detail-grid{
    grid-template-columns:1fr;
  }
}

/* SMALL BOX */
.job-box{
  background:#f8fafc;
  padding:18px;
  border-radius:13px;
  border-left:6px solid #2563eb;
  border-right:6px solid #2563eb;
  transition:0.3s;
}

.job-box:hover{
  transform:translateY(-4px);
}

/* BOX TITLE */
.job-box-title{
  font-weight:700;
  font-size:16px;
  color:#1e293b;
  margin-bottom:10px;
}

/* LIST */
.job-list{
  list-style:none;
  padding:0;
}

.job-list li{
  margin:8px 0;
  font-size:14px;
  color:#334155;
}

/* AGE STRIP */
.job-notice-strip1{
  margin-top:20px;
  padding:12px;
  background:linear-gradient(90deg,#2563eb,#1e3a8a);
  color:white;
  font-weight:900;
  text-align:center;
  border-radius:10px;
}

.job-notice-extra{
  margin-top:8px;
  padding:10px;
  background:#e0edff;
  color:#1e293b;
  text-align:center;
  border-radius:10px;
  font-weight:700;
}

.job-notice-strip2{
  margin-top:80px;
  padding:12px;
  background:linear-gradient(90deg,#161414,#ca0346);
  color:white;
  font-weight:900;
  text-align:center;
  border-radius:10px;
}

.job-notice-extra{
  margin-top:8px;
  padding:10px;
  background:#e0edff;
  color:#1e293b;
  text-align:left;
  border-radius:10px;
  font-weight:700;
}

.job-notice-strip3{
  margin-top:80px;
  padding:12px;
  background:linear-gradient(90deg,#161816,#c700bd);
  color:white;
  font-weight:900;
  text-align:center;
  border-radius:10px;
}

.job-notice-extra{
  margin-top:8px;
  padding:10px;
  background:#e0edff;
  color:#1e293b;
  text-align:left;
  border-radius:10px;
  font-weight:700;
}
/* VACANCY TABLE */
.vacancy-box{
  max-width:1000px;
  margin:30px auto;
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.vacancy-title{
  font-weight:700;
  font-size:18px;
  margin-bottom:15px;
  color:#1e293b;
}

.vacancy-table{
  width:100%;
  border-collapse:collapse;
}

.vacancy-table th,
.vacancy-table td{
  padding:12px;
  border:1px solid #e2e8f0;
  text-align:center;
  font-weight:700;
}

.vacancy-table th{
  background:#016bf5;
  color:white;
}

/* APPLY TABLE */
.apply-table{
  width:100%;
  border-collapse:collapse;
}

.apply-table th{
  background:#f1f5f9;
  padding:12px;
  text-align:left;
}

.apply-table td{
  padding:12px;
  border-bottom:1px solid #e2e8f0;
}

/* BUTTON STYLE */
.click-btn{
  display:inline-block;
  padding:8px 16px;
  background:#2563eb;
  color:white;
  border-radius:8px;
  text-decoration:none;
  font-size:14px;
  transition:0.3s;
}

.click-btn:hover{
  background:#2b2b27;
  transform:translateY(-3px);
}

/* ===== ABOUT PAGE ===== */

.about-section{
  padding:60px 20px;
  background:linear-gradient(135deg,#f8fafc,#e0f2fe);
}

.about-container{
  max-width:1100px;
  margin:auto;
  text-align:center;
}

.about-container h2{
  font-size:32px;
  margin-bottom:20px;
  color:#1e3a8a;
}

.about-container p{
  font-size:16px;
  color:#334155;
  max-width:750px;
  margin:0 auto 40px;
  line-height:1.7;
}

.about-cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.about-card{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  transition:0.3s;
}

.about-card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.about-card h3{
  margin-bottom:10px;
  color:#0f172a;
}

.about-card p{
  font-size:14px;
  color:#475569;
}